<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HEN - NEW
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div class = left>
  </div> -->

  <!-- <div class = left> -->
    <ion-card  *ngFor="let a of articleList">
      <a href="{{a.url}}">
      <ion-card-header  >
          <ion-card-subtitle>{{a.name}}  {{a.date}} </ion-card-subtitle>
          <ion-card-title  > {{ a.information }}</ion-card-title>
        </ion-card-header>
      </a>
<!--     
      <ion-card-content>
        
      </ion-card-content> -->
    </ion-card>
  <!-- </div> -->
  

 

  


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
